<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<title>회원가입</title>
</head>
<body>
	<h1>회원가입</h1>
	<form action="/auth/join" method="post">
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
		<input type="text" name="userId" placeholder="아이디" /> <br>
		<input type="password" name="userPw" placeholder="패스워드" /> <br>
		<input type="password" name="userPwChk" placeholder="패스워드" /> <br>
		<input type="text" name="name" placeholder="이름" /> <br>
		<input type="text" name="email" placeholder="이메일" /> <br>
		
		<button type="submit">회원가입</button>
	</form>
</body>
</html>