<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AJAX 요청 (Accept)</title>
</head>
<body>
    <button onclick="requestJSON()">JSON 요청</button>
	<button onclick="requestXML()">XML 요청</button>

	<div id="frame"></div>

	<script>
		// AJAX 로 요청
		function requestJSON() {
			// XMLHttpRequest 객체 생성
			let request = new XMLHttpRequest()

			// 응답 확인
			request.onreadystatechange = function() {

				// 요청 완료 시, 성공적으로 요청이 처리되었을 때
				if( request.readyState == request.DONE && request.status == 200 ) {
					// request.responseText : 응답 데이터
					let response = request.responseText
					document.getElementById("frame").innerText = response
				}

				// 에러 발생 시,
				if( request.readyState == request.DONE && (request.status == 400 || request.status == 500 )  ) {
					alert("에러 발생")
				}
			}

			let data = ""

			// request.open("요청메소드", url, 비동기여부)
			// - 요청에 필요한 설정을 초기화하는 메소드
			request.open("GET", "/accept/data", true)

			// setRequestHeader("헤더속성", "값")
			// - 요청헤더를 지정하는 메소드
			request.setRequestHeader("Accept", "application/json")

			// request.send(데이터) 
			// -요청을 전송하는 메소드
			// JSON.stringify( ) : Javascript 의 객체를 JSON 문자열로 변환하는 메소드
			request.send( data )			
		}


		function requestXML() {
			// XMLHttpRequest 객체 생성
			let request = new XMLHttpRequest()

			// 응답 확인
			request.onreadystatechange = function() {
				// 요청 성공 시,
				if( request.readyState == request.DONE && request.status == 200 ) {
					let response = request.responseText
					document.getElementById("frame").innerText = response
				}

				// 에러 발생 시,
				if( request.readyState == request.DONE && (request.status == 400 || request.status == 500 )  ) {
					alert("에러 발생")
				}
			}

			let data = ""

			// request.open("요청메소드", url, 비동기여부)
			// - 요청에 필요한 설정을 초기화하는 메소드
			request.open("GET", "/accept/data", true)

			// setRequestHeader("헤더속성", "값")
			// - 요청헤더를 지정하는 메소드
			request.setRequestHeader("Accept", "application/xml")


			// request.send(데이터) 
			// -요청을 전송하는 메소드
			request.send(data)			
		}
    </script>
</body>
</html>